* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* content */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  /* background */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  /* accent */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77C0A;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  /* gradients */
  --gradient-border: linear-gradient(
    90deg,
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );
  --gradient-background: linear-gradient(
    90deg,
    #055080 0%,
    #91a1fa 16.95%,
    #c58de7 68.75%,
    #d586e0 84.8%
  );
  --gradient-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

  /*FONTS*/

  --font-family-sora: "Sora", sans-serif;
  --font-family-roboto-mono: "Roboto Mono", monospace;
  --font-family-roboto-flex: "Roboto Flex", sans-serif;

  --font-display-large: 800 72px / 130% var(--font-family-sora);
  --font-display-medium: 800 40px / 130% var(--font-family-sora);
  --font-display-small: 700 32px / 130% var(--font-family-sora);

  --font-overline: 700 16px / 150% var(--font-family-roboto-mono);

  --font-paragraph-large: 500 16px / 150% var(--font-family-roboto-flex);
  --font-paragraph-medium: 500 14px / 150% var(--font-family-roboto-flex);
  --font-paragraph-small: 500 12px / 150% var(--font-family-roboto-flex);
  --font-label-medium: 700 20px / 150% var(--font-family-roboto-flex);
  --font-label-small: 700 16px / 150% var(--font-family-roboto-flex);
}

h1,
h2 {
  text-transform: uppercase;
}
