#drawing-numbers {
  gap: 0.75rem;

  & .input-wrapper {
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    & label {
      font: var(--font-label-small);
      text-transform: uppercase;
      transition: 0.2s;
    }

    &:hover label,
    &:has(input:focus) label {
      color: var(--content-brand);
    }

    & .border-input {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;

      & input {
        all: unset;
        width: 5.375rem;
        height: 3.5rem;
        text-align: center;
        font: var(--font-display-small);
        z-index: 2;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        border-radius: 0.5rem;
        background: var(--background-secondary);
        z-index: -1;
      }

      &:hover,
      &:has(input:focus) {
        &::before {
          position: absolute;
          content: "";
          width: 10em;
          height: 10em;
          top: -100%;
          background-image: var(--gradient-border);
          z-index: -1;
        }
        &::after {
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          background: var(--background-tertiary);
          top: 2px;
        }
      }
    }
  }
}
