* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* content */
  --content-primary: #f5f9ff; /* branco azulado – mais suave e menos puro */
  --content-secondary: #b9c4d1; /* cinza frio leve */
  --content-tertiary: #8f9aa7; /* cinza frio médio */
  --content-brand: #5be9d7; /* destaque neon mint */
  --color-inverse: #050607; /* preto profundo */

  /* background */
  --background-primary: #0b0d10; /* preto grafite azulado */
  --background-secondary: #14181f;
  --background-tertiary: #1f242d;
  --background-brand: #5be9d7; /* mint neon */
  --background-gray: #3c4757; /* cinza azulado moderado */

  /* gradients */
  --gradient-background: linear-gradient(
    90deg,
    #5be9d7 0%,
    #4fb3ff 50%,
    #6b7bff 100%
  );

  --gradient-border: conic-gradient(
    from 180deg,
    #4fb3ff 0%,
    #5be9d7 18%,
    #9dfbce 42%,
    #7f9bff 72%,
    #4fb3ff 100%
  );

  --gradient-content: linear-gradient(90deg, #b9c4d1 0%, #4fb3ff 100%);

  /* fonts */
  font-family: var(--font-family-roboto-flex);
  color: var(--content-primary);

  --font-family-sora: "Sora", sans-serif;
  --font-family-roboto-flex: "Roboto Flex", sans-serif;
  --font-family-roboto-mono: "Roboto Mono", monospace;

  --font-display-large: 800 4rem/130% var(--font-family-sora);
  --font-display-medium: 800 2.5rem/130% var(--font-family-sora);
  --font-display-small: 700 2rem/130% var(--font-family-sora);

  --font-paragraph-large: 500 1rem/150% var(--font-family-roboto-flex);
  --font-paragraph-medium: 500 0.875rem/150% var(--font-family-roboto-flex);
  --font-paragraph-small: 500 0.75rem/150% var(--font-family-roboto-flex);
  --font-label-medium: 700 1.25rem/150% var(--font-family-roboto-flex);
  --font-label-small: 700 1rem/150% var(--font-family-roboto-flex);
}

body {
  background-color: var(--background-primary);
}

h1,
h3,
input {
  text-transform: uppercase;
}

h1 {
  font: var(--font-display-large);
}

h2 {
  color: var(--content-brand);
  font: var(--font-paragraph-medium);
}

h3 {
  font: var(--font-label-medium);
}

p,
label {
  color: var(--content-secondary);
}

span {
  text-transform: uppercase;
  font: var(--font-paragraph-medium);
}
