.container {
  max-width: 68.625rem;
  margin-inline: auto;
  margin-top: 4rem;

  gap: 3rem;
  flex-direction: column;
}

#logo-img {
  width: 10.75rem;
  display: block;
}

#app {
  gap: 6.75rem;
  align-items: center;
}

aside {
  flex-direction: column;
  max-width: 31.75rem;
  gap: 2.375rem;

  & header {
    gap: 0.75rem;

    & span {
      font-family: var(--font-family-roboto-mono);
      position: relative;
      background: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & #info-container {
    max-width: 24.125rem;
    gap: 2.25rem;

    & .app-info {
      align-items: start;
      gap: 0.5rem;

      & .text-info {
        font: var(--font-paragraph-small);
      }
    }
  }
}

main {
  width: 30.125rem;

  & form {
    gap: 2.5rem;

    & header p {
      font: var(--font-paragraph-large);
    }

    & fieldset {
      border: none;
      gap: 1.75rem;
    }

    .checkbox-wrapper {
      gap: 0.5rem;

      & label {
        color: var(--content-primary);
      }
    }
  }
}

@media (width < 75em) {
  .container {
    max-width: 390px;
    padding: 2rem;
    gap: 2.875rem;
    flex-direction: column;
  }

  #logo-img {
    margin-inline: auto;
  }

  #app {
    gap: 5rem;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;

    & aside {
      max-width: 20.375rem;

      & header {
        position: absolute;
        top: 0;

        & span {
          font-size: 1rem;
        }

        & h1 {
          font: var(--font-display-medium);
        }
      }
    }
  }

  main {
    width: 19.9375rem;
    margin-top: 12.875rem;

    & form header p {
      font: var(--font-paragraph-medium);
    }
  }
}
