.flex {
  display: flex;
}

.flex-columns {
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

.opacity-animation {
  opacity: 0;
  animation: disappear-display 1s ease forwards;
}

@keyframes disappear-display {
  to {
    transform: translateY(-1rem);
  }
}